/.pyenv/
/.nodenv/
/.rbenv/
/.nvm/
/.npm/
/.fzf/
/.local/
/.vim/
/.pip/
/.git/
/.ghc/
/.conda/
/.enhancd/
/.stack/
/.tmux/plugins/
/.keras/
/.cache/
/.go/
/.config/*
!/.config/nvim/
!/.config/efm-langserver/
!/.config/alacritty/
!/.config/procs/
/node_modules/
.DS_Store
.node-version
tags*
.zsh/gnome-terminal-colors-solarized
.zsh/dircolors-solarized
.linuxbrew
.zplug
GTAGS
GRTAGS
GPATH
.netrwhist
packer_compiled.lua
.optional.zsh
